In [ ]:
#Import library numpy, pandas dan scikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [ ]:
#Membaca Dataset dari Files ke Pandas dataFrame
kucingDataset = pd.read_csv('Dataset Kucing.csv', delimiter = ';', header = 0)

In [ ]:
kucingDataset.head()

   Id  Panjang Badan  Berat Badan  Umur  Species
0   1           7.00         3.06     2   Persia
1   2           6.05         4.01     5   Persia
2   3           6.03         3.06     7  Anggora
3   4           5.07         3.08     4   Persia
4   5           6.08         4.03     2  Anggora

In [ ]:
#Mengubah Species (kolom "Species") dari String ke Unique-Integer
kucingDataset["Species"] = pd.factorize(kucingDataset.Species)[0]

In [ ]:
kucingDataset.head()

   Id  Panjang Badan  Berat Badan  Umur  Species
0   1           7.00         3.06     2        0
1   2           6.05         4.01     5        0
2   3           6.03         3.06     7        1
3   4           5.07         3.08     4        0
4   5           6.08         4.03     2        1

In [ ]:
print(kucingDataset)

   Id  Panjang Badan  Berat Badan  Umur  Species
0   1           7.00         3.06     2        0
1   2           6.05         4.01     5        0
2   3           6.03         3.06     7        1
3   4           5.07         3.08     4        0
4   5           6.08         4.03     2        1
5   6           7.02         4.02     6        1
6   7           7.01         3.08     8        0
7   8           6.03         3.09     3        1
8   9           6.00         4.00     3        0
9  10           6.04         4.05     5        0

In [ ]:
#Menghapus kolom "Id"
kucingDataset = kucingDataset.drop(labels="Id", axis=1)

In [ ]:
print(kucingDataset)

   Panjang Badan  Berat Badan  Umur  Species
0           7.00         3.06     2        0
1           6.05         4.01     5        0
2           6.03         3.06     7        1
3           5.07         3.08     4        0
4           6.08         4.03     2        1
5           7.02         4.02     6        1
6           7.01         3.08     8        0
7           6.03         3.09     3        1
8           6.00         4.00     3        0
9           6.04         4.05     5        0

In [ ]:
#Mengubah dataFrame ke array Numpy
kucingDataset = kucingDataset.to_numpy()

In [ ]:
print(kucingDataset)

[[7.   3.06 2.   0.  ]
 [6.05 4.01 5.   0.  ]
 [6.03 3.06 7.   1.  ]
 [5.07 3.08 4.   0.  ]
 [6.08 4.03 2.   1.  ]
 [7.02 4.02 6.   1.  ]
 [7.01 3.08 8.   0.  ]
 [6.03 3.09 3.   1.  ]
 [6.   4.   3.   0.  ]
 [6.04 4.05 5.   0.  ]]

In [ ]:
#Membagi dataset => 5 baris data untuk training dan 5 baris data untuk testing
dataTraining = np.concatenate((kucingDataset[0:3, :], kucingDataset[3:5, :]),
                              axis=0)
dataTesting = np.concatenate((kucingDataset[5:8, :], kucingDataset[8:10, :]),
                              axis=0)

In [ ]:
print(dataTraining)
len(dataTraining)

[[7.   3.06 2.   0.  ]
 [6.05 4.01 5.   0.  ]
 [6.03 3.06 7.   1.  ]
 [5.07 3.08 4.   0.  ]
 [6.08 4.03 2.   1.  ]]

5

In [ ]:
print(dataTesting)
len(dataTesting)

[[7.02 4.02 6.   1.  ]
 [7.01 3.08 8.   0.  ]
 [6.03 3.09 3.   1.  ]
 [6.   4.   3.   0.  ]
 [6.04 4.05 5.   0.  ]]

5

In [ ]:
#Memecah Dataset ke Input dan Label
inputTraining = dataTraining[:, 0:3]
inputTesting = dataTesting[:,0:3]
labelTraining = dataTraining[:,3]
labelTesting = dataTesting[:,3]
print(labelTraining)
len(labelTraining)

[0. 0. 1. 0. 1.]

5

In [ ]:
#Mendefinisikan Decision Tree Classifier
model = tree.DecisionTreeClassifier()

In [ ]:
#Mentraining model
model = model.fit(inputTraining, labelTraining)

In [ ]:
#Memprediksi Input Data Testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1. 0. 1. 0. 0.]
Hasil Prediksi :  [0. 1. 0. 0. 1.]

In [ ]:
#Menghitung Akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ",prediksiBenar,"data")
print("Prediksi Salah : ",prediksiSalah,"data")
print("Akurasi : ",prediksiBenar/(prediksiBenar + prediksiSalah)* 100 ,"%")

Prediksi Benar :  1 data
Prediksi Salah :  4 data
Akurasi :  20.0 %