NAMA : LAI,MARCELLINO AGUSTIAN

NIM : A11.2018.10854

Kelompok : A11.4617

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [ ]:
kematianDataset = pd.read_csv('aktakematian.csv',delimiter=',',header=0)

In [ ]:
kematianDataset.head()

   Tahun  Triwulan           Nama_Kota  ...  Nama_Kelurahan Jenis_Kelamin Jumlah
0   2020         1  KAB.ADM.KEP.SERIBU  ...     P. PANGGANG     Laki-Laki      9
1   2020         1  KAB.ADM.KEP.SERIBU  ...       P. KELAPA     Laki-Laki      7
2   2020         1  KAB.ADM.KEP.SERIBU  ...      P. HARAPAN     Laki-Laki      2
3   2020         1  KAB.ADM.KEP.SERIBU  ...  P. UNTUNG JAWA     Laki-Laki      1
4   2020         1  KAB.ADM.KEP.SERIBU  ...       P. TIDUNG     Laki-Laki     10

[5 rows x 7 columns]

In [ ]:
kematianDataset["Jenis_Kelamin"] = pd.factorize(kematianDataset.Jenis_Kelamin)[0]

In [ ]:
kematianDataset["Nama_Kelurahan"] = pd.factorize(kematianDataset.Nama_Kelurahan)[0]
kematianDataset["Nama_Kecamatan"] = pd.factorize(kematianDataset.Nama_Kecamatan)[0]
kematianDataset["Nama_Kota"] = pd.factorize(kematianDataset.Nama_Kota)[0]

In [ ]:
kematianDataset.head()

   Tahun  Triwulan  Nama_Kota  ...  Nama_Kelurahan  Jenis_Kelamin Jumlah
0   2020         1          0  ...               0      Laki-Laki      9
1   2020         1          0  ...               1      Laki-Laki      7
2   2020         1          0  ...               2      Laki-Laki      2
3   2020         1          0  ...               3      Laki-Laki      1
4   2020         1          0  ...               4      Laki-Laki     10

[5 rows x 7 columns]

In [ ]:
kematianDataset = kematianDataset.drop(labels="Triwulan", axis=1)

In [ ]:
print(kematianDataset)

     Tahun  Nama_Kota  Nama_Kecamatan  Nama_Kelurahan Jenis_Kelamin  Jumlah
0     2020          0               0               0     Laki-Laki       9
1     2020          0               0               1     Laki-Laki       7
2     2020          0               0               2     Laki-Laki       2
3     2020          0               1               3     Laki-Laki       1
4     2020          0               1               4     Laki-Laki      10
..     ...        ...             ...             ...           ...     ...
529   2020          5              43             262     Perempuan      16
530   2020          5              43             263     Perempuan      15
531   2020          5              43             264     Perempuan      22
532   2020          5              43             265     Perempuan      34
533   2020          5              43             266     Perempuan      13

[534 rows x 6 columns]

In [ ]:
kematianDataset = kematianDataset.to_numpy()

In [ ]:
print(kematianDataset)

[[2020 0 0 0 'Laki-Laki' 9]
 [2020 0 0 1 'Laki-Laki' 7]
 [2020 0 0 2 'Laki-Laki' 2]
 ...
 [2020 5 43 264 'Perempuan' 22]
 [2020 5 43 265 'Perempuan' 34]
 [2020 5 43 266 'Perempuan' 13]]

In [ ]:
dataTraining = np.concatenate((kematianDataset[200:300,:],
                              kematianDataset[300:500,:]), axis=0)
dataTesting = np.concatenate((kematianDataset[250:300,:],
                              kematianDataset[450:500,:]),axis=0)
inputTraining =dataTraining[:,0:4]
inputTesting =dataTesting[:,0:4]
labelTraining =dataTraining[:,4]
labelTesting =dataTesting[:,4]

In [ ]:
model = tree.DecisionTreeClassifier()
model = model.fit(inputTraining, labelTraining)
hasilPrediksi = model.predict(inputTesting)
print("label sebenarnya", labelTesting)
print("hasil prediksi : ", hasilPrediksi)

prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("prediksi benar : ", prediksiBenar, "data")
print("prediksi salah : ", prediksiSalah, "data")
print("akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah)*100,"%")

label sebenarnya ['Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan']
hasil prediksi :  ['Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan' 'Perempuan'
 'Perempuan' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki'
 'Laki-Laki' 'Laki-Laki' 'Laki-Laki' 'Laki-Laki']
prediksi benar :  67 data
prediksi salah :  33 data
akurasi :  67.0 %